@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes: false;
}

@plugin './catppuccin.latte.ts';
@plugin './catppuccin.mocha.ts';

html {
  @apply scroll-smooth scroll-pt-20
}

.MathJax {
  @apply inline-flex align-middle max-w-[calc(100vw-2rem)]
}

.img-full {
  @apply [&_img]:w-full
}

@utility prose {
  a {
    @apply hover:text-primary hover:underline no-underline
  }

  img {
    @apply rounded-xl
  }

  li {
    @apply pl-0
  }
}
